body{

    background: linear-gradient(-135deg, #c850c0, #4158d0) no-repeat;
}
.submit{

    margin-top: 10%;



}
.outerLoginForm{

    border-style: solid;
    border-radius: 10%;
    border-width:1px;
    border-colour: grey;
    margin-bottom: 60%;
    box-shadow: -10px 10px 150px 30px rgba(0,0 ,0, .5);
    background-color: white;
    padding: 20%;
}
.total{

    height: 100%;

}

.top{

    margin-top : 4%;
    margin-bottom : 4%;

}