{%extends 'base.html'%}
{% block content%}
  <body class='text-centre'>
    
    <div class='col-sm-1'></div>
      <div class='col-sm-9 ui segment'>
          <h2 >Name: {{event_name}}</h2>
          <h2 class='ui header'>Date: {{event_date}}</h2>
          <h2 class='ui header'>Time: {{event_time}}</h2>
          <h2 class='ui header'>Fee: {{event_fee}}</h2>
          <h2>Organiser: {{organiser}}</h2>
          <h2>Contact: {{ contact_info}}</h2>
          <h2>Summary</h2><p>{{summary}}</p>
          <h2>FAQ</h2><p>{{faq}}</p>
          <!-- <h2>FAQ</h2><p>{{faq}}</p> -->
        </form>
{%endblock%}  