{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <Title>CSEA Events</Title> 


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css'>
    
     <style>

    nav{
        background: rgb(7, 7, 102);
        margin-top:0px;
        margin-left:0px;
        margin-right:0px;
        display:flex;
        padding: 7px;
    }
    a{
        color: goldenrod;
        font-size: 1.5em;
        text-decoration:none;
        font-family: Arial
    }

    </style>
    
</head>
<body>
  <h1>
<nav style='text-align:right; color:white'>
        <a href='/' class='ui basic primary button'> Home </a>
        {%block logout_button%}{%endblock%}
    </nav>
    {%block content%}{%endblock%}

<div class="ui three column grid">
<div class="column">
    <div class="ui fluid card">
      <div class="image">
	<img src="{% static "committee/svrao.jpeg" %}"  ></div>
<p>
	Prof. S. V. Rao<br>
President, CSEA<br>
HOD, Dept. Of CSE<br>
webmail id:  svrao@iitg.ernet.in<br>
</p>
</div>
</div>

<div class="column">
    <div class="ui fluid card">
      <div class="image">
	<img src="{% static "committee/ben.jpg" %}"    ></div>
	<p>Benny K. George<br>
Faculty Mentor, CSEA<br>
Assistant Professor<br>
Webmail id:  ben@iitg.ernet.in</p>
</div>
</div>

<div class="column">
    <div class="ui fluid card">
      <div class="image">
	<img src="{% static "committee/deepkesh.jpg" %}"    ></div>
	<p>
		Deepanjan Kesh<br>
Faculty Mentor, CSEA<br>
Assistant Professor<br>
webmail id:  deepkesh@iitg.ernet.in<br>
	</p></div>
</div>
</div>


<div class="ui three column grid">
<div class="column">
    <div class="ui fluid card">
      <div class="image">
<img src="{% static "committee/rohan.jpeg" %}"   ></div>
<p>Rohan Aggarwal<br>
General Secretary<br>
Final Year Undergraduate<br>
Webmail Id: rohan.aggarwal<br></p>	</div>

</div>

<div class="column">
    <div class="ui fluid card">
      <div class="image">
	<img src="{% static "committee/mayank_agrawal.jpg" %}"   ></div>
	<p>
		Mayank Kumar Agarwal<br>
 Branch Representative<br>
Final Year Undergraduate<br>
Webmail Id: mayank.agarwal<br>
	</p></div>
</div>

<div class="column">
    <div class="ui fluid card">
      <div class="image"><img src="{% static "committee/roopansh.jpg" %}"   ></div>
<p>
	Roopansh Bansal<br>
Technical and Events Head<br>
Final Year Undergraduate<br>
Webmail Id: roopansh<br>
</p></div>

</div>
</div>



<div class="ui three column grid">

<div class="column">
    <div class="ui fluid card">
      <div class="image">	<img src="{% static "committee/Harshit_Gupta.jpeg" %}"   ></div>
	<p>Harshit Gupta<br>
Branch Representative<br>
3rd Year Undergraduate<br>
Webmail Id: harshitgupta<br></p></div>

</div>

<div class="column">
    <div class="ui fluid card">
      <div class="image">
	<img src="{% static "committee/apurva.jpg" %}"   ></div>
	<p>Apurva N. Saraogi<br>
Technical Executive<br>
3rd Year Undergraduate<br>
Webmail Id: apurva9<br>
</p></div>
</div>

<div class="column">
    <div class="ui fluid card">
      <div class="image">
	<img src="{% static "committee/Jatin_Goyal.jpg" %}"   ></div>
	<p>
		Jatin Goyal<br>
Events Executive<br>
3rd Year Undergraduate<br>
Webmail Id: jatingoyal<br>
	</p></div>
</div>
</div>



<div class="ui three column grid">
<div class="column">
    <div class="ui fluid card">
      <div class="image">
	<img src="{% static "committee/Mitansh_Jain.jpg" %}"   ></div>
	<P>Mitansh Jain<br>
Technical Executive<br>
3rd Year Undergraduate<br>
Webmail Id: mitansh1398<br></P></div>
</div>

<div class="column">
    <div class="ui fluid card">
      <div class="image">
	<img src="{% static "committee/shimona.jpg" %}"   ></div>
	<p>Shimona Verma<br>
Events Executive<br>
3rd Year Undergraduate<br>
Webmail Id: shimona.verma<br>
</p></div>
</div>

<div class="column">
    <div class="ui fluid card">
      <div class="image">	<img src="{% static "committee/utkarsh.jpg" %}"   ></div>
	<p>
		Utkarsh Jain<br>
Branch Representative<br>
2nd Year Undergraduate<br>
Webmail Id: jain170101075<br>
	</p>
</div>
</div></div>



<div class="ui three column grid">

<div class="column">
    <div class="ui fluid card">
      <div class="image">
<img src="{% static "committee/chirag.jpeg" %}"   ></div>
<p>Chirag Gupta<br>
Alumini Relations Representative<br>
2nd Year Undergraduate<br>
Webmail Id: gupta170101019<br>
</p></div>

</div>

<div class="column">
    <div class="ui fluid card">
      <div class="image">
	<img src="{% static "committee/Manan_Gupta.jpg" %}"   ></div>
	<p>Manan Gupta<br>
Technichal Co-ordinator<br>
2nd Year Undergraduate<br>
Webmail Id: manan170101035<br></p></div>

</div>

<div class="column">
    <div class="ui fluid card">
      <div class="image">

	<img src="{% static "committee/devaishi.jpg" %}"   ></div>
	<p>Devaishi Tiwari<br>
Event Manager<br>
2nd Year Undergraduate<br>
Webmail Id: devai170101021<br>
</p></div></div>

</div>


<div class="ui three column grid">
<div class="column">
    <div class="ui fluid card">
      <div class="image">
	<img src="{% static "committee/mayank_wadhwani.png" %}"   ></div>
	<p>Mayank Wadhwani<br>
Event Manager<br>
2nd Year Undergraduate<br>
Webmail Id: mayan170101038<br></p>
</div></div>

<div class="column">
    <div class="ui fluid card">
      <div class="image">
<img src="{% static "committee/shivam.jpg" %}"   ></div>	
<p>Shivam Bansal<br>
Technichal Co-ordinator<br>
2nd Year Undergraduate<br>
Webmail Id: shiva170101063<br></p></div>
</div>
</div>

</div>
</h1>
</body>

