{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/login_style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'CSS/css1.css' %}">
    <link rel='stylesheet' href='{% static "CSS/css2.css" %}'>
    <title>CSEA Event Management</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-sm-center total">
          <div class="container-fluid text-light top">
            <h1 class="text-center display-4">CSEA Event Management Login</h1>
          </div>
        <div class="col-sm-4">
            <div class="col-sm-auto outerLoginForm">
              <form method='POST' class="loginForm">  {% csrf_token %}
                  {{form}}
                  <input style='margin-top:10px;'type='submit' class='ui primary fluid button' value='Submit'>
              </form>
              <br>
              <a href='{% url "register" %}' class='ui primary basic button fluid '>Register</a>
            </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 
  </body>
</html>
