{%extends 'base.html'%}
{% block content%}
    <div class='col-sm-1'></div>
    <div class='col-md-9 '>
            <h1 style='font-family: Arial, Helvetica, sans-serif'> Welcome</h1>
            <a href="{% url 'poll_count_vote' kk %}" class='ui positive button'>Vote Here </a>
            <!-- <br><br> -->
            <!----<h2 style='font-family: Arial, Helvetica, sans-serif'>Upcoming events: </h2> -->
            
            
                <div class='ui segment'>
                   
                    <div class='ui segment'>
                        <h3 class='ui header'>People Coming: {{ response_coming}}</h3>
                        <h3 class='ui header'>People Not Coming: {{ response_not_coming}}</h3>
                        <h3 class='ui header'>Not Sure: {{ response_not_sure}}</h3>
                        <a href="{% url 'poll_count_modify' kk %}"class='ui tiny primary basic button'>Modify</a>
                    </div>
                   
                </div>
    </div>
    

{%endblock%}
