{% extends 'base.html'%}
{% block content %}
<body>
    <br>
    <div class='col-sm-2'></div>
    <div class='col-sm-6 ui segment'>
        <h3>Username: {{username}}</h3>
        <h3>Email: {{email}}</h3>
        <h3>First Name: {{first_name}}</h3>
        <h3>Last Name: {{last_name}}</h3>
        <h3>Roll No: {{roll_no}}</h3>
        <h3>Department: {{dept}}</h3>
        <h3>Course: {{course}}</h3>
        <h3>Phone No: {{phone_number}}</h3>
        <a href='{% url "change_passwd" %}' class='ui button'>Change Password</a>
    </div>    
</body>

{% endblock %}