{%extends 'base.html'%}
{% block content%}
    <div class='col-sm-1'></div>
    <div class='col-md-9 '>
        <br>
            <a href='{% url "create_event" %}' class='ui positive button'>Create event </a>
            <a href='{% url "home_page" %}' class='ui purple button'>Upcoming events</a>
            <a href='#' class='ui  orange button '>My events</a>
            <a href='#' class='ui yellow secondary   button'>CSEA Committee Info</a>
            <a href='{% url "profile" %}' class='ui primary button'>My Profile</a>
            <a href='{% url "logout" %}' class='ui negative button'>Logout</a> 
            <!-- <br><br> -->
            <h2 style='font-family: Arial, Helvetica, sans-serif'>Feedbacks of the events of the past: </h2>
            
            
                <div class='ui segment'>
                        {% if events_today is not None %}
                            <h3>Feedbacks:</h3>
                        {% endif %}
                        {% for i in events_today%}
                        <div class='ui segment'>
                            <h3 class='ui header'>Feedback content: {{ i.content}}</h3>
                            <h3 class='ui header'>Rating: {{ i.rating}}</h3>
                        </div>
                        {% endfor%}
                        
                            {% if events_today is None %}
                                <h3>NO FEEDBACKS TO SHOW</h3>
                            {% endif %}
                
                </div>
    </div>
    
{%endblock%}
